<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-workspace name="Spring Microservices SoapUI" soapui-version="5.2.1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings/>
  <con:project name="HATEOAS">/Users/luisgonzalezmac/Develop/Spring Microservices/SoapUI/HATEOAS-soapui-project.xml</con:project>
</con:soapui-workspace>